   <tr class="text-center text-primary align-middle">
      <th class="fit" scope="col">#</th>
      <th class="fit" scope="col">Власник</th>
      <th class="fit" scope="col">Вид Тварини</th>
      <th class="fit" scope="col">Вік Тварини</th>
      <th class="fit" scope="col">Лікар</th>
      <th class="fit" scope="col">Лікарня</th>
      <th class="fit" scope="col">. . .</th>
   </tr>
</thead>
<tbody>
   <tr class="text-center text-secondary" id="table_empty">
      <td colspan="12"> <span class="mx-5 fs-4">Немає даних для відображення</span> </td>
   </tr>